<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<!-- link rel="stylesheet" href="/assets/css/mailForm.css" type="text/css" / -->
	<link rel="stylesheet" href="/assets/css/pygments.css" type="text/css" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico" />
	<script src="/assets/javascripts/modernizr-2.6.1.min.js"></script>
	<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
	<script src="/assets/javascripts/underscore-min.js"></script>
	<script src="/assets/javascripts/jquery_plantuml.js"></script>
    <script src="/assets/javascripts/rawdeflate.js"></script>
</head>
<body>

	<header id="header">
		<div class="inner clearfix">
			<a href="/" class="logo"><img src="/assets/images/logo-seqrdeveloper-black.png"></a>
		<nav>
			<ul>
				<li><a href="/contact">Contact</a></li>
				<li><a href="https://www.seqr.com" target="_blank">SEQR.COM</a></li>
			</ul>
		</nav>
		</div>
	</header>
	<div class="header-clearfix"></div>

	<section id="content">
		<div class="inner clearfix">
		<div class="navigation">
			<ul>
				<li class="parent">Get started</li>
		                <li><a href="/merchant/payment/">Basic SEQR payment</a></li>
				<li><a href="/app/">Get SEQR app</a></li>
				<li class="parent">Integrate!</li>
				<li><a href="/merchant/webshop/">Webshop</a></li>
				<li><a href="/merchant/pos/">Point of sale</a></li>
				<li><a href="/merchant/externalservices/">Services</a></li>
				<li><a href="/merchant/inapp/">In your app</a></li>
				<li><a href="/merchant/eproducts/">eProducts (not SEQR)</a></li>
				<!--  <li><a href="/merchant/linkapp/">Promoting SEQR</a></li> -->
				<li class="parent">Go live!</li>
				<li><a href="/merchant/reference/signup.html">Get login credentials</a></li>
				<li><a href="/merchant/reference/certification.html">Certification</a></li>
				<li class="parent">References</li>
				<li><a href="/merchant/reference/api.html">Payment API</a></li>
				<li><a href="/merchant/reference/eproductsapi.html">eProducts API</a></li>
				<li><a href="/plugins/">eCommerce platforms plugins</a></li>
				<li><a href="/faq/">FAQ</a></li>
				<li><a href="/merchant/reference/reporting.html">Reporting</a></li>
				<!-- li><a href="/merchant/reference/loyalty.html">Loyalty</a></li -->
				<li><a href="/merchant/reference/glossary.html">Glossary</a></li>
			</ul>
		</div>
		<div class="content">
		{{ content }}
		</div>
		</div>
	</section>

	<footer id="footer">
		<div class="inner">
			<nav class="footer-nav">
				<ul>
                                        <li><a href="/legal">Legal</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li class="rights">All rights reserved, Seamless 2014</li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>
