<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/pygments.css" type="text/css" />
	<link rel="shortcut icon" href="/assets/images/favicon.ico" />
	<script src="/assets/javascripts/modernizr-2.6.1.min.js"></script>
	<script src="/assets/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/jquery-ui.js"></script>
	<script src="/assets/javascripts/raphael-min.js"></script>
	<script src="/assets/javascripts/underscore-min.js"></script>	
	<script src="/assets/javascripts/sequence-diagram-min.js"></script>
</head>
<body>

	<header id="header">
		<div class="inner clearfix">
			<a href="/" class="logo"><img src="/assets/images/logo-seqrdeveloper-black.png"></a>
		<nav>
			<ul>
				<li><a href="/contact">Contact</a></li>
				<li><a href="https://www.seqr.com" target="_blank">SEQR.COM</a></li>
			</ul>
		</nav>
		</div>
	</header>
	<div class="header-clearfix"></div>
	
	<section id="content">
		<div class="inner clearfix">
		<div class="navigation">
			<ul>
				<li class="parent">1. Get started</li>
                <li><a href="/merchant/payment/">Basic SEQR payment</a></li>
				<li><a href="/app/">Get SEQR app</a></li>
				<li class="parent">2. Customise payment</li>
				<li><a href="/merchant/webshop/">Webshop</a></li>
				<li><a href="/merchant/pos/">POS</a></li>
				<li><a href="/merchant/externalservices/">Services</a></li>
				<li><a href="/merchant/inapp/">App</a></li>
				<li class="parent">3. Verify your integration</li>
				<li><a href="/merchant/reference/signup.html">Sign up</a></li>
				<li class="parent">4. Go live!</li>
				<li><a href="/merchant/reference/certification.html">Certification</a></li>
				<li class="parent">References</li>
				<li><a href="/merchant/reference/api.html">API</a></li>
				<li><a href="/merchant/reference/reporting.html">Reporting</a></li>
				<!-- li><a href="/merchant/reference/loyalty.html">Loyalty</a></li -->
				<li><a href="/merchant/reference/glossary.html">Glossary</a></li>
			</ul>
		</div>
		<div class="content">
		{{ content }}
		</div>
		</div>
	</section>
	
	<footer id="footer">
		<div class="inner">
			<nav class="footer-nav">
				<ul>
                                        <li><a href="/legal">Legal</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li class="rights">All rights reserved, Seamless 2014</li>
				</ul>
			</nav>
		</div>
	</footer>
</body>
</html>
